body {
    background-color: #D5E1EF;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 0 15px;
}
.qr-container{
    padding: 16px 16px 40px 16px;
    border-radius: 10px;
    width: 320px;
    height: 499px;
    background-color: #fff;
}
.qr-image {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 288px;
    height: 288px;
}